/*************** JF COMMITTEE 2014 CSS FILE CONTENT ***************/

/*

BOXES FOR COMMITTEE MEMBERS + DEPARTMENTS		LINE 39
GENERAL LINES									LINE 140
MAIN LINES										LINE 166
PD 												LINE 182
- Lines from PD to department
- Departments under PD
- Web Admin
- Emcee
- Multimedia
VPD PUBLIC 										LINE 263
- Lines from PD to department
- Departments under VPD Public
- Sponsorship
- Public Relation
- Publicity
VPD EXHIBITION 									LINE 358
- Lines from PD to department
- Departments under VPD Exhibition
- Decoration & Design
- Games & Competition
- Carnival & Exhibition
- Ticketing
VPD EVENT 										LINE 466
- Lines from PD to department
- Departments under VPD Event
- Event
- Protocol & Secretariat
- Hall
- Logistic

*/



/* BOXES FOR COMMITTEE MEMBERS + DEPARTMENTS */

/*GENERAL - whatever inside the transparent white slide*/
#committee2014 {
	font-size: 0.9em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	width: 1000px;
	min-height: 1670px;
	height: 100%;
	background-image: url("../assets/transparentwhite.png");
	border: 1px solid black;
	margin: auto;
	margin-bottom: 50px;
	padding: 50px;
}

/*MAIN COMMITTEE - scroll down to line 129-132 for background color (PD and VPDs)*/
#PD, #VPDpublic, #VPDexhibition, #VPDevent {
	width: 120px;
	height: 140px;
	border-radius: 7.5px;
	padding: 5px;
}

#PD {
	border: 2px solid black;
	margin: 20px;
}

#VPDpublic, #VPDexhibition, #VPDevent {
	border: 2px solid #1A4E21;
	margin: 20px 20px 20px 200px;
}

#others, #others2, #others3 {
	width: 120px;
	height: 140px;
	background-color: #C0D5EF;
	border: 2px solid black;
	border-radius: 7.5px;
	padding: 5px;
}

#others3 {height: 157px;}
#others, #others3 {margin: 40px 20px 20px 150px;}
#others2 {margin: 20px 20px 20px 270px;}

/*THE YELLOW BAR*/
.department {
	font-size: 1.125em;
	color: #1A4E21;
	width: 400px;
	height: 20px;
	background-color: #FFFFC6;
	border: 2px solid #FFFF1C;
	border-radius: 7.5px;
	margin-left: 523px;
	padding: 5px;
}

#head, #head2{
	width: 120px;
	background-color: #87C8D9;
	border: 2px solid #1A4E21;
	border-radius: 7.5px;
	margin: 20px;
	margin-left: 532px;
	padding: 5px;
}

#memberPD, #memberPD2 {
	width: 120px;
	border: 2px solid black;
	border-radius: 7.5px;
	margin: 20px;
	margin-left: 532px;
	padding: 5px;
}

#memberVPDpublic, #memberVPDpublic2, #memberVPDexhibition, #memberVPDexhibition2,
#memberVPDevent, #memberVPDevent2 {
	width: 120px;
	border: 2px solid #1A4E21;
	border-radius: 7.5px;
	margin: 20px;
	margin-left: 532px;
	padding: 5px;
}

#PD, #memberPD, #memberPD2 {background-color: #81ABE0;} /*BLUE*/
#VPDpublic, #memberVPDpublic, #memberVPDpublic2 {background-color: #D1F0D5;} /*lighter green*/
#VPDexhibition, #memberVPDexhibition, #memberVPDexhibition2 {background-color: #A3E0AB;} /*light green*/
#VPDevent, #memberVPDevent, #memberVPDevent2 {background-color: #75D181;} /*green*/

#head, #memberPD, #memberVPDpublic, #memberVPDexhibition, #memberVPDevent {height: 140px;} /*short name*/
#head2, #memberPD2, #memberVPDpublic2, #memberVPDexhibition2, #memberVPDevent2 {height: 157px;} /*long name*/


/**********************************************************/

/* GENERAL LINES */

#VerticalLine, #HorizontalLine {
	font-size:0;
    color:#fff;
    background-color:#000;
    float: left;
}

#VerticalLine {width: 2px;}
#HorizontalLine {height: 2px;}

.arrows {
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 2;
}

.arrows:hover {
	cursor: pointer;
	opacity: 0.5;
}

/**********************************************************/

/* MAIN LINES */

.v1 {height: 1397px; margin: -20px 0 0 85px;}
.v2 {height: 360px; margin: 70px 0 0 57.5px;}
.hl1 {width: 54px; margin: 70px 0 0 0px;}
.hl2 {width: 115px; margin: 250px 0 0 -115px;}
.hl3 {width: 54px; margin: 428px 0 0 -54px;}
.hl4 {width: 65px; margin: 608px 0 0 -115px;}
.hl5 {width: 65px; margin: 828px 0 0 -115px;}
.hl6 {width: 65px; margin: 1375px 0 0 -115px;}
.v3 {height: 270px; margin: -20px 0 0 60px;}
.hl7 {width: 59px; margin: 70px 0 0 0px;}
.hl8 {width: 59px; margin: 248px 0 0 -60px;}

/**********************************************************/

/* LINES FROM PD TO DEPARTMENT */

.hPD1 {width: 320px; margin: -1582px 0 0 153px;}
.vPD1 {height: 300px; margin: -1642px 0 0 473px; float: right;}
.hPD2 {width: 50px; margin: -1642px 0 0 473px;}
.hPD3 {width: 50px; margin: -1492px 0 0 473px;}
.hPD4 {width: 50px; margin: -1342px 0 0 473px;}
#PD_line {display: none;}

#arrow1 {margin: -1602px 0 0 -345px;}

.hPD1e {width: 320px; margin: -1582px 0 0 153px;}
.vPD1e {height: 1090px; margin: -1642px 0 0 473px; float: right;}
.hPD2e {width: 50px; margin: -1642px 0 0 473px;}
.hPD3e {width: 50px; margin: -1172px 0 0 473px;}
.hPD4e {width: 50px; margin: -552px 0 0 473px;}
#PD_line_expand {display: none;}


/* DEPARTMENTS UNDER PD */

#webAdminTitle {margin-top: -1657px;}

#webAdminTitle, #emceeTitle, #multimediaTitle {
	margin-bottom: 115px;
	display: none;
}

#arrowdown1, #arrowright1 {display: none;}
#arrowdown1 {margin: -1660px 0 0 450px;}
#arrowright1 {margin: -1660px 0 0 950px;}



/* WEB ADMIN */
#webAdminPhotos {display: none;}

.webAdmin1 {margin: -100px 0 0 0;}
.webAdmin2 {margin: -174px 0 0 160px;}
.webAdmin3 {margin: -174px 0 0 320px;}
.webAdmin4 {margin: 0 0 0 320px;}
.webAdmin5 {margin: -100px 0 0 160px;}

#WEBADMIN {
	position: absolute;
	margin: 60px 0 0 158px;
}


/* EMCEE */
#emceePhotos {display: none;}

.emcee1 {margin: -100px 0 0 0;}
.emcee2 {margin: -174px 0 0 160px;}
.emcee3 {margin: -80px 0 0 320px;}
.emcee4 {margin: -90px 0 0 160px;}
.emcee5 {margin: -80px 0 0 320px;}
.emcee6 {margin: -90px 0 0 160px;}

#EMCEE {
	position: absolute;
	margin: 70px 0 0 57px;
}


/* MULTIMEDIA */
#multimediaPhotos {display: none;}

.multimedia1 {margin: -100px 0 0 0;}
.multimedia2 {margin: -174px 0 0 160px;}
.multimedia3 {margin: 0 0 0 320px;}
.multimedia4 {margin: -100px 0 0 160px;}

#MULTIMEDIA {
	position: absolute;
	margin: 65px 0 0 22px;
}


/**********************************************************/

/* LINES FROM VPD PUBLIC TO DEPARTMENT */

.hVPDpublic1 {width: 140px; margin: -1417px 0 0 333px;}
.vVPDpublic1 {height: 300px; margin: -1642px 0 0 473px; float: right;}
.hVPDpublic2 {width: 50px; margin: -1642px 0 0 473px;}
.hVPDpublic3 {width: 50px; margin: -1492px 0 0 473px;}
.hVPDpublic4 {width: 50px; margin: -1342px 0 0 473px;}
#VPDpublic_line {display: ;}

#arrow2 {margin: -1437px 0 0 -165px; display: none;}

.hVPDpublic1e {width: 140px; margin: -1417px 0 0 333px;}
.vVPDpublic1e {height: 1862px; margin: -1642px 0 0 473px;}
.hVPDpublic2e {width: 50px; margin: -1642px 0 0 0px;}
.hVPDpublic3e {width: 50px; margin: -992px 0 0 0px;}
.hVPDpublic4e {width: 50px; margin: 220px 0 0 0px;}
#VPDpublic_line_expand {display: none;}


/* DEPARTMENTS UNDER VPD PUBLIC */

#sponsorshipTitle {margin-top: -1657px;}

#sponsorshipTitle, #PR_Title, #publicityTitle {
	margin-bottom: 115px;
	display: ;
}

#arrowdown2 {margin: -1660px 0 0 450px;}
#arrowright2 {
	margin: -1660px 0 0 950px;
	display: none;
}


/* SPONSORSHIP */
#sponsorshipPhotos {display: none;}

.sponsorship1 {margin: -100px 0 0 0;}
.sponsorship2 {margin: -174px 0 0 160px;}
.sponsorship3 {margin: 0 0 0 320px;}
.sponsorship4 {margin: -100px 0 0 160px;}
.sponsorship5 {margin: -80px 0 0 320px;}
.sponsorship6 {margin: -90px 0 0 160px;}

#SPONSORSHIP {
	position: absolute;
	margin: 50px 0 0 152px;
}


/* PUBLIC RELATION */
#PR_Photos {display: none;}

.PR1 {margin: -100px 0 0 0;}
.PR2 {margin: -174px 0 0 160px;}
.PR3 {margin: -174px 0 0 320px;}
.PR4 {margin: 0 0 0 320px;}
.PR5 {margin: -100px 0 0 160px;}
.PR6 {margin: -80px 0 0 320px;}
.PR7 {margin: -90px 0 0 160px;}
.PR8 {margin: -80px 0 0 320px;}
.PR9 {margin: -90px 0 0 160px;}
.PR10 {margin: -80px 0 0 320px;}
.PR11 {margin: -90px 0 0 160px;}
.PR12 {margin: -80px 0 0 320px;}
.PR13 {margin: -80px 0 0 160px;}

#PUBLICRELATION {
	position: absolute;
	margin: 45px 0 0 82px;
}


/* PUBLICITY */
#publicityPhotos {display: none;}

.publicity1 {margin: -100px 0 0 0;}
.publicity2 {margin: -174px 0 0 160px;}
.publicity3 {margin: -174px 0 0 320px;}
.publicity4 {margin: 0 0 0 320px;}
.publicity5 {margin: -100px 0 0 160px;}
.publicity6 {margin: -80px 0 0 320px;}
.publicity7 {margin: -90px 0 0 160px;}
.publicity8 {margin: -80px 0 0 320px;}
.publicity9 {margin: -90px 0 0 160px;}
.publicity10 {margin: -80px 0 0 320px;}
.publicity11 {margin: -90px 0 0 160px;}
.publicity12 {margin: -80px 0 0 320px;}
.publicity13 {margin: -90px 0 0 160px;}

#PUBLICITY {
	position: absolute;
	margin: -1092px 0 0 154px;
}


/**********************************************************/

/* LINES FROM VPD EXHIBITION TO DEPARTMENT */

.hVPDexhibition1 {width: 140px; margin: -1240px 0 0 333px;}
.vVPDexhibition1 {height: 450px; margin: -1542px 0 0 473px; float: right;}
.hVPDexhibition2 {width: 50px; margin: -1542px 0 0 473px;}
.hVPDexhibition3 {width: 50px; margin: -1392px 0 0 473px;}
.hVPDexhibition4 {width: 50px; margin: -1242px 0 0 473px;}
.hVPDexhibition5 {width: 50px; margin: -1092px 0 0 473px;}
#VPDexhibition_line {display: none;}

#arrow3 {margin: -1260px 0 0 -165px;}

.hVPDexhibition1e {width: 140px; margin: -1240px 0 0 333px;}
.vVPDexhibition1e {height: 2705px; margin: -1542px 0 0 473px; position:absolute;}
.hVPDexhibition2e {width: 50px; margin: -1542px 0 0 473px;}
.hVPDexhibition3e {width: 50px; margin: -620px 0 0 473px;}
.hVPDexhibition4e {width: 50px; margin: 206px 0 0 473px;}
.hVPDexhibition5e {width: 50px; margin: 953px 0 0 473px;}
#VPDexhibition_line_expand {display: none;}


/* DEPARTMENTS UNDER VPDB (EXHIBITION) */

#decoNdesignTitle {margin-top: -1557px;}

#decoNdesignTitle, #gamesTitle, #exhibitionTitle, #ticketingTitle {
	margin-bottom: 115px;
	display: none;
}

#arrowdown3, #arrowright3 {display: none;}
#arrowdown3 {margin: -1560px 0 0 450px;}
#arrowright3 {margin: -1560px 0 0 950px;}


/* DECO n DESIGN */
#decoNdesignPhotos {display: none;}

.decoNdesign1 {margin: -100px 0 0 0;}
.decoNdesign2 {margin: -174px 0 0 160px;}
.decoNdesign3 {margin: 0 0 0 320px;}
.decoNdesign4 {margin: -100px 0 0 160px;}
.decoNdesign5 {margin: -80px 0 0 320px;}
.decoNdesign6 {margin: -90px 0 0 160px;}
.decoNdesign7 {margin: -80px 0 0 320px;}
.decoNdesign8 {margin: -90px 0 0 160px;}
.decoNdesign9 {margin: -80px 0 0 320px;}

#DECODESIGN {
	position: absolute;
	margin: 60px 0 0 152px;
}


/* GAMES */
#gamesPhotos {display: none;}

.games1 {margin: -100px 0 0 0;}
.games2 {margin: -174px 0 0 160px;}
.games3 {margin: 0 0 0 320px;}
.games4 {margin: -100px 0 0 160px;}
.games5 {margin: -80px 0 0 320px;}
.games6 {margin: -90px 0 0 160px;}
.games7 {margin: -80px 0 0 320px;}
.games8 {margin: -90px 0 0 160px;}

#GAMESCOMPETITION {
	position: absolute;
	margin: 65px 0 0 83px;;
}


/* CARNIVAL n EXHIBITION */
#exhibitionPhotos {display: none;}

.exhibition1 {margin: -100px 0 0 0;}
.exhibition2 {margin: -174px 0 0 160px;}
.exhibition3 {margin: 0 0 0 320px;}
.exhibition4 {margin: -100px 0 0 160px;}
.exhibition5 {margin: -80px 0 0 320px;}
.exhibition6 {margin: -90px 0 0 160px;}
.exhibition7 {margin: -80px 0 0 320px;}
.exhibition8 {margin: -90px 0 0 160px;}
.exhibition9 {margin: -80px 0 0 320px;}

#CARNIVALEXHIBITION {
	position: absolute;
	margin: -845px 0 0 -108px;
}


/* TICKETING */
#ticketingPhotos {display: none;}

.ticketing1 {margin: -100px 0 0 0;}
.ticketing2 {margin: -174px 0 0 160px;}
.ticketing3 {margin: -174px 0 0 320px;}
.ticketing4 {margin: 0 0 0 320px;}
.ticketing5 {margin: -100px 0 0 160px;}
.ticketing6 {margin: -80px 0 0 320px;}

#TICKET {
	position: absolute;
	margin: -370px 0 0 155px;
}



/**********************************************************/

/* LINES FROM VPD EVENT TO DEPARTMENT */

.hVPDevent1 {width: 140px; margin: -1063px 0 0 333px;}
.vVPDevent1 {height: 450px; margin: -1442px 0 0 473px; float: right;}
.hVPDevent2 {width: 50px; margin: -1442px 0 0 473px;}
.hVPDevent3 {width: 50px; margin: -1292px 0 0 473px;}
.hVPDevent4 {width: 50px; margin: -1142px 0 0 473px;}
.hVPDevent5 {width: 50px; margin: -992px 0 0 473px;}
#VPDevent_line {display: none;}

#arrow4 {margin: -1083px 0 0 -165px;}

.hVPDevent1e {width: 140px; margin: -1063px 0 0 333px;}
.vVPDevent1e {height: 3452px; margin: -1442px 0 0 473px; position: absolute;}
.hVPDevent2e {width: 50px; margin: -1442px 0 0 473px;}
.hVPDevent3e {width: 50px; margin: -40px 0 0 473px;}
.hVPDevent4e {width: 50px; margin: 1142px 0 0 473px;}
.hVPDevent5e {width: 50px; margin: 865px 0 0 473px;}
#VPDevent_line_expand {display: none;}

/* DEPARTMENTS UNDER VPDC (EVENT) */

#eventTitle {margin-top: -1457px;}

#eventTitle, #protocolTitle, #hallTitle, #logisticTitle {
	margin-bottom: 115px;
	display: none;
}

#arrowdown4, #arrowright4 {display: none;}
#arrowdown4 {margin: -1460px 0 0 450px;}
#arrowright4 {margin: -1460px 0 0 950px;}


/* EVENT */
#eventPhotos {display: none;}

.event1 {margin: -100px 0 0 0;}
.event2 {margin: -190px 0 0 160px;}
.event3 {margin: -170px 0 0 320px;}
.event4 {margin: 0 0 0 320px;}
.event5 {margin: -100px 0 0 160px;}
.event6 {margin: -80px 0 0 320px;}
.event7 {margin: -90px 0 0 160px;}
.event8 {margin: -80px 0 0 320px;}
.event9 {margin: -90px 0 0 160px;}
.event10 {margin: -80px 0 0 320px;}
.event11 {margin: -90px 0 0 160px;}
.event12 {margin: -80px 0 0 320px;}
.event13 {margin: -90px 0 0 160px;}
.event14 {margin: -80px 0 0 320px;}
.event15 {margin: -90px 0 0 160px;}

#EVENT {
	position: absolute;
	margin: 65px 0 0 45px;
}


/* PROTOCOL n SECRETARIAT */
#protocolPhotos {display: none;}

.protocol1 {margin: -100px 0 0 0;}
.protocol2 {margin: -174px 0 0 160px;}
.protocol3 {margin: 0 0 0 320px;}
.protocol4 {margin: -100px 0 0 160px;}
.protocol5 {margin: -80px 0 0 320px;}
.protocol6 {margin: -90px 0 0 160px;}
.protocol7 {margin: -80px 0 0 320px;}
.protocol8 {margin: -90px 0 0 160px;}
.protocol9 {margin: -80px 0 0 320px;}
.protocol10 {margin: -90px 0 0 160px;}
.protocol11 {margin: -80px 0 0 320px;}
.protocol12 {margin: -90px 0 0 160px;}

#PROTOCOLSECRETARIAT {
	position: absolute;
	margin: 35px 0 0 150px;
}



/* HALL */
#hallPhotos {display: none;}

.hall1 {margin: -100px 0 0 0;}
.hall2 {margin: -174px 0 0 160px;}
.hall4 {margin: 0 0 0 320px;}
.hall5 {margin: -100px 0 0 160px;}
.hall6 {margin: -80px 0 0 320px;}
.hall7 {margin: -90px 0 0 160px;}
.hall8 {margin: -80px 0 0 320px;}
.hall9 {margin: -90px 0 0 160px;}

#HALL {
	position: absolute;
	margin: -755px 0 0 -111px;
}


/* LOGISTIC */
#logisticPhotos {display: none;}

.logistic1 {margin: -100px 0 0 0;}
.logistic2 {margin: -174px 0 0 160px;}
.logistic3 {margin: 0 0 0 320px;}
.logistic4 {margin: -100px 0 0 160px;}

#LOGISTIC {
	position: absolute;
	margin: 38px 0 0 154px;
}


/*THE END*/